<?php
/**
 * Contains \jamesiarmes\PhpEws\ClassMap.
 *
 * This class is generated using the build-classmap.php script. To make changes
 * to this file should be made there or in the ClassMap.mustache template.
 *
 * Last updated on: {{updated}}
 */

namespace jamesiarmes\PhpEws;

/**
 * Mapping of complex types to class implementations.
 * @deprecated
 * @package php-ews\ClassMap
 */
class ClassMap
{
    // Map for {{namespace}} classes.
    public const MAP = [
          {{#maps}}
            // Map for {{namespace}} classes.
            {{#map}}
                '{{type}}' => '{{class}}',
            {{/map}}
         {{/maps}}
    ];

    /**
     * Returns the PHP EWS class map to be used for processing SOAP calls.
     * @deprecated
     */
    public static function getMap(): array
    {
        return static::MAP;
    }
}
